<h2 class="stats_h2">Gegevens</h2>
<form class="settings" action="/edit" method="POST">
    <section class="formLabel">
        <div>
            <label for="Dakoppervlak"><span>Aantal m2 dak</span>
                <input id="Dakoppervlak" name="Dakoppervlak" type="number" value="<%= userInfo.roofSurface %>" placeholder="<%= userInfo.roofSurface %>">
                <div class="form-label-extra">m²</div>
            </label>
        </div>
    </section>
    <section class="formLabel">
        <div>
            <label for="Regenpijpen"><span>Aantal regenpijpen</span>
                <input id="Regenpijpen" name="Regenpijpen" type="number" value="<%= userInfo.waterDrains %>" placeholder="<%= userInfo.waterDrains %>">
            </label>
        </div>
        
    </section>
    <section class="formLabel">
        <div>
            <label for="Regentonnen"><span>Aantal regentonnen</span>
                <input id="Regentonnen" name="Regentonnen" type="number" value="<%= userInfo.rainBarrels %>" placeholder="<%= userInfo.rainBarrels %>">
            </label>
        </div>
    </section>
    <div class="settings_visual_button">
        <button>Opslaan</button>
    </div>
</form>