<h2>Gegevens</h2>
<form class="settings" action="/edit" method="POST">
    <section class="formLabel">
        <div>
            <label for="Dakoppervlak">Aantal m2 dak
                <input id="Dakoppervlak" name="Dakoppervlak" type="number" value="<%= userInfo.roofSurface %>" placeholder="<%= userInfo.roofSurface %>">
                <span>m²</span>
            </label>
        </div>
    </section>
    <section class="formLabel">
        <div>
            <label for="Regenpijpen">Aantal regenpijpen</label>
            <input id="Regenpijpen" name="Regenpijpen" type="number" value="<%= userInfo.waterDrains %>" placeholder="<%= userInfo.waterDrains %>">
        </div>
    </section>
    <section class="formLabel">
        <div>
            <label for="Regentonnen">Aantal regentonnen</label>
            <input id="Regentonnen" name="Regentonnen" type="number" value="<%= userInfo.rainBarrels %>" placeholder="<%= userInfo.rainBarrels %>">
        </div>
    </section>
    <div class="settings_visual_button">
        <button>Opslaan</button>
    </div>
</form>